In [9]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
covid19 = pd.read_csv('state_wise_daily.csv')

In [10]:
covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    339 non-null    object
 1   Status  339 non-null    object
 2   TT      339 non-null    int64
 3   AN      339 non-null    int64
 4   AP      339 non-null    int64
 5   AR      339 non-null    int64
 6   AS      339 non-null    int64
 7   BR      339 non-null    int64
 8   CH      339 non-null    int64
 9   CT      339 non-null    int64
 10  DN      339 non-null    int64
 11  DD      339 non-null    int64
 12  DL      339 non-null    int64
 13  GA      339 non-null    int64
 14  GJ      339 non-null    int64
 15  HR      339 non-null    int64
 16  HP      339 non-null    int64
 17  JK      339 non-null    int64
 18  JH      339 non-null    int64
 19  KA      339 non-null    int64
 20  KL      339 non-null    int64
 21  LA      339 non-null    int64
 22  LD      339 non-null    int64
 23  MP      339 non-null    int64
 24  MH      339 non-null    int64
 25  MN      339 non-null    int64
 26  ML      339 non-null    int64
 27  MZ      339 non-null    int64
 28  NL      339 non-null    int64
 29  OR      339 non-null    int64
 30  PY      339 non-null    int64
 31  PB      339 non-null    int64
 32  RJ      339 non-null    int64
 33  SK      339 non-null    int64
 34  TN      339 non-null    int64
 35  TG      339 non-null    int64
 36  TR      339 non-null    int64
 37  UP      339 non-null    int64
 38  UT      339 non-null    int64
 39  WB      339 non-null    int64
 40  UN      339 non-null    int64
dtypes: int64(39), object(2)
memory usage: 108.7+ KB

In [11]:
data1.head()

,Sno,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,1,Total,850878,536324,22696,291476,12/7/2020 13:06,382,TT,519,93,9,NaN
1,2,Maharashtra,246600,136985,10116,99202,12/7/2020 1:51,297,MH,0,0,0,297 cases were marked as non-covid deaths in M...
2,3,Tamil Nadu,134226,85915,1898,46413,11/7/2020 19:07,0,TN,0,0,0,2 deaths cross notified to other states from C...
3,4,Delhi,110921,87692,3334,19895,11/7/2020 19:50,0,DL,0,0,0,"Delhi bulletins in the morning, containing dat..."
4,5,Gujarat,41027,28685,2033,10309,11/7/2020 20:18,0,GJ,0,0,0,NaN

In [12]:
covid19['Status'].unique()

array(['Confirmed', 'Recovered', 'Deceased'], dtype=object)

In [15]:
covid19['Status'] = covid19['Status'].replace("Confirmed", "1")
covid19['Status'] = covid19['Status'].replace("Recovered", "2")
covid19['Status'] = covid19['Status'].replace("Deceased", "3")

In [16]:
data1.head()

,Sno,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,1,Total,850878,536324,22696,291476,12/7/2020 13:06,382,TT,519,93,9,NaN
1,2,Maharashtra,246600,136985,10116,99202,12/7/2020 1:51,297,MH,0,0,0,297 cases were marked as non-covid deaths in M...
2,3,Tamil Nadu,134226,85915,1898,46413,11/7/2020 19:07,0,TN,0,0,0,2 deaths cross notified to other states from C...
3,4,Delhi,110921,87692,3334,19895,11/7/2020 19:50,0,DL,0,0,0,"Delhi bulletins in the morning, containing dat..."
4,5,Gujarat,41027,28685,2033,10309,11/7/2020 20:18,0,GJ,0,0,0,NaN

In [17]:
covid19.columns

Index(['Date', 'Status', 'TT', 'AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DN',
       'DD', 'DL', 'GA', 'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LA', 'LD',
       'MP', 'MH', 'MN', 'ML', 'MZ', 'NL', 'OR', 'PY', 'PB', 'RJ', 'SK', 'TN',
       'TG', 'TR', 'UP', 'UT', 'WB', 'UN'],
      dtype='object')

In [24]:
x = covid19[['TT', 'AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DN', 'DD',
       'DL', 'GA', 'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LA', 'LD', 'MP',
       'MH', 'MN', 'ML', 'MZ', 'NL', 'OR', 'PY', 'PB', 'RJ', 'SK', 'TN', 'TG',
       'TR', 'UP', 'UT', 'WB', 'UN']] .values
x[0:5]

array([[81,  0,  1,  0,  0,  0,  0,  0,  0,  0,  7,  0,  0, 14,  0,  2,
         0,  6, 19,  0,  0,  0, 14,  0,  0,  0,  0,  0,  0,  1,  3,  0,
         1,  1,  0, 12,  0,  0,  0],
       [ 9,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
         0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
         0,  0,  0,  4,  0,  0,  0],
       [ 2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
         0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0],
       [27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  5,  0,  0,  0, 18,  0,  0,  0,  0,  0,  0,  0,  1,  0,
         0,  2,  0,  1,  0,  0,  0],
       [ 4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,
         0,  1,  0,  0,  0,  0,  0]], dtype=int64)

In [25]:
y = covid19['Status'].values
y[0:10]

array(['1', '2', '3', '1', '2', '3', '1', '2', '3', '1'], dtype=object)

In [26]:
x = preprocessing.StandardScaler().fit(x).transform(x.astype(float))
x[0:5]

array([[-0.62451996, -0.29969586, -0.49942675, -0.27273895, -0.43200217,
        -0.61144253, -0.37142725, -0.48640485, -0.28320812,  0.        ,
        -0.50477293, -0.39439029, -0.83351839, -0.43461081, -0.53933044,
        -0.54935858, -0.50577976, -0.38024594, -0.12563789, -0.26644883,
         0.        , -0.86886064, -0.62200766, -0.36753881, -0.29329277,
        -0.19045829, -0.31161334, -0.56282807, -0.36286126, -0.41806277,
        -0.79804342, -0.14848015, -0.5566646 , -0.36825929, -0.38969719,
        -0.61948012, -0.48583017, -0.61979618, -0.07588856],
       [-0.63870386, -0.29969586, -0.50604387, -0.27273895, -0.43200217,
        -0.61144253, -0.37142725, -0.48640485, -0.28320812,  0.        ,
        -0.51095468, -0.39439029, -0.83351839, -0.51943123, -0.53933044,
        -0.57837129, -0.50577976, -0.40682578, -0.49639956, -0.26644883,
         0.        , -0.86886064, -0.63146723, -0.36753881, -0.29329277,
        -0.19045829, -0.31161334, -0.56282807, -0.36286126, -0.43190564,
        -0.81368048, -0.14848015, -0.55778318, -0.37195299, -0.38969719,
        -0.66004782, -0.48583017, -0.61979618, -0.07588856],
       [-0.64008285, -0.29969586, -0.50604387, -0.27273895, -0.43200217,
        -0.61144253, -0.37142725, -0.48640485, -0.28320812,  0.        ,
        -0.51095468, -0.39439029, -0.83351839, -0.51943123, -0.53933044,
        -0.57837129, -0.50577976, -0.40239581, -0.56591737, -0.26644883,
         0.        , -0.86886064, -0.63146723, -0.36753881, -0.29329277,
        -0.19045829, -0.31161334, -0.56282807, -0.36286126, -0.43190564,
        -0.82149901, -0.14848015, -0.55778318, -0.37195299, -0.38969719,
        -0.68033167, -0.48583017, -0.61979618, -0.07588856],
       [-0.63515788, -0.29969586, -0.50604387, -0.27273895, -0.43200217,
        -0.61144253, -0.37142725, -0.48640485, -0.28320812,  0.        ,
        -0.51198497, -0.39439029, -0.83351839, -0.51943123, -0.53933044,
        -0.57837129, -0.50577976, -0.40682578, -0.45005435, -0.26644883,
         0.        , -0.86886064, -0.61930493, -0.36753881, -0.29329277,
        -0.19045829, -0.31161334, -0.56282807, -0.36286126, -0.43190564,
        -0.81368048, -0.14848015, -0.55778318, -0.36456558, -0.38969719,
        -0.67526071, -0.48583017, -0.61979618, -0.07588856],
       [-0.63968885, -0.29969586, -0.50604387, -0.27273895, -0.43200217,
        -0.61144253, -0.37142725, -0.48640485, -0.28320812,  0.        ,
        -0.51095468, -0.39439029, -0.83351839, -0.51943123, -0.53933044,
        -0.57837129, -0.50577976, -0.40682578, -0.56591737, -0.26644883,
         0.        , -0.86886064, -0.63146723, -0.36753881, -0.29329277,
        -0.19045829, -0.31161334, -0.56282807, -0.36286126, -0.43190564,
        -0.80586195, -0.14848015, -0.55778318, -0.36825929, -0.38969719,
        -0.68033167, -0.48583017, -0.61979618, -0.07588856]])

In [27]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=2)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (271, 39) (271,)
Test set: (68, 39) (68,)

In [29]:
k = 5
neigh = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)
neigh

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [30]:
yhat = neigh.predict(x_test)  
yhat[0:10]

array(['3', '1', '1', '3', '3', '1', '3', '2', '3', '3'], dtype=object)

In [32]:
score = neigh.score(x_test, y_test)
print("Model accuracy is {}".format(score.round(1)))

Model accuracy is 0.661765