In [1]:
import pandas as pd

In [2]:
covid_19_india=pd.read_csv("covid_19_india.csv")

In [3]:
covid_19_india.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [4]:
type(covid_19_india)

pandas.core.frame.DataFrame

In [5]:
covid_19_india.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3711 entries, 0 to 3710
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       3711 non-null   int64
 1   Date                      3711 non-null   object
 2   Time                      3711 non-null   object
 3   State/UnionTerritory      3711 non-null   object
 4   ConfirmedIndianNational   3711 non-null   object
 5   ConfirmedForeignNational  3711 non-null   object
 6   Cured                     3711 non-null   int64
 7   Deaths                    3711 non-null   int64
 8   Confirmed                 3711 non-null   int64
dtypes: int64(4), object(5)
memory usage: 261.1+ KB

In [7]:
missing_data=covid_19_india.isnull()

In [8]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Sno
False    3711
Name: Sno, dtype: int64

Date
False    3711
Name: Date, dtype: int64

Time
False    3711
Name: Time, dtype: int64

State/UnionTerritory
False    3711
Name: State/UnionTerritory, dtype: int64

ConfirmedIndianNational
False    3711
Name: ConfirmedIndianNational, dtype: int64

ConfirmedForeignNational
False    3711
Name: ConfirmedForeignNational, dtype: int64

Cured
False    3711
Name: Cured, dtype: int64

Deaths
False    3711
Name: Deaths, dtype: int64

Confirmed
False    3711
Name: Confirmed, dtype: int64

In [9]:
covid_19_india['Confirmed']

0           1
1           1
2           2
3           3
4           3
        ...
3706     1435
3707     2984
3708    24825
3709    19819
3710     6031
Name: Confirmed, Length: 3711, dtype: int64